// Styling for the contact page and contact form

.section-contact {
  padding: 15rem 0;
  background-image: url(/resources/img/background.png);
}

/*Styling for the content form's container*/
.contact {
  background-image: url(/resources/img/backgroundBlack.jpg);

  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
  margin-top: 5rem;
}

/* Styling for the contact form*/
.contact__form {
  width: 50%;
  padding: 6rem;
}

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/*Styling for the heading, input fields  and submit button for the contact form */

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(white, 0.5);
  font-family: inherit;
  border: none;
  border-bottom: 3px solid gray;
  width: 90%;
  display: block;
}
.form:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(black, 0.1);
  border-bottom: 3px solid gray;
}

.form__heading {
  font-size: 2rem;
  color: $text-color;
  font-family: "Syncopate", sans-serif;
}

div.form__group:nth-child(3) > label:nth-child(2),
div.form__group:nth-child(2) > label:nth-child(2) {
  color: $text-color;
  font-size: 1.9rem;
  font-family: "Syncopate", sans-serif;
}

/* Styling for the PHP sucess and error messages that get sent apon form submit */
.success {
  background-color: green;
}

.error {
  background: red;
}
/* Styling for the textarea box */
textarea.form__input {
  height: 10rem;
}

/* Styling for the submit button on the contact page*/
.submit {
  width: 10rem;
  text-align: center;
}

.submit > input:nth-child(1) {
  width: 100%;
  font-family: "Syncopate", sans-serif;
}
.form_label {
  font-size: 1.9rem;
  color: $text-color;
}
