.section-about {
  background-color: $primary-color;
  padding-bottom: 45rem;
  padding-top: 20rem;
  background-image: url(/resources/img/background.png);
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(223, 205, 215, 0.309),
      rgba(7, 7, 7, 0.89)
    ),
    url(/resources/img/hero1.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10.9rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-prices {
  background-image: url(/resources/img/background.png);
  padding: 25rem 0 50rem 0;
  margin-top: -12rem;
}
