/* Media queries  for varius screen sizes*/
@mixin mediaExSm {
  @media screen and (max-width: 403px) {
    @content;
  }
}
@mixin mediaSm {
  @media screen and (max-width: 556px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 860px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 861) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
