/* styling form  media query */

/* Styling for extra large screens */
@include mediaXL {
  text-align: center;
  align-items: center;
}

/* Styling for large screens */
@include mediaLg {
  main {
    text-align: center;
    align-items: center;
    .lg-heading {
      margin-bottom: 3.1rem;
    }
    .lg-heading--main {
      font-size: 5.3rem;
      letter-spacing: 0.7rem;
    }
    .lg-heading--sub {
      font-size: 2.3rem;
      letter-spacing: 0.2rem;
    }

    .button:link,
    .button:visited {
      font-size: 1.5rem;
    }
  }
}

/* Styling for medium-sized screens */
@include mediaMd {
  main {
    text-align: center;
    align-items: center;
    line-height: 1;
    .lg-heading {
      margin-bottom: 3rem;
    }
    .lg-heading--main {
      font-size: 4rem;
      letter-spacing: 0.7rem;
    }
    .lg-heading--sub {
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
    }

    .button:link,
    .button:visited {
      font-size: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  ul.menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 2rem;
    line-height: 1.3;
    padding-bottom: 10rem;
  }
  div.menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url(/resources/img/maddie6small.jpg);
      width: 120px;
      height: 120px;
    }
  }
  div.btn-line.close:first-child {
    background: #f0eaea;
  }
  div.btn-line.close:nth-child(3) {
    background: white;
  }
  header {
    .header__logo {
      height: 4.6rem;
    }
    .menu-btn {
      right: 4rem;
    }
  }

  footer {
    .footer__social ul li {
      margin: 0.3rem;
    }
    .footer__copyright > p:nth-child(1) {
      font-size: 1.2rem;
    }
  }
}
/* Styling for smaller-sized screens */
@include mediaSm {
  main {
    text-align: center;
    align-items: center;
    line-height: 1;
    .lg-heading {
      margin-bottom: 2rem;
    }
    .lg-heading--main {
      font-size: 3rem;
      letter-spacing: 0.1rem;
    }
    .lg-heading--sub {
      font-size: 1.3rem;
    }

    .button:link,
    .button:visited {
      font-size: 1rem;
      padding: 0.5rem 2rem;
    }
  }
}

@include mediaExSm {
  main {
    text-align: center;
    align-items: center;
    line-height: 1;

    .lg-heading--main {
      font-size: 2.1rem;
      letter-spacing: 0.5rem;
    }
    .lg-heading--sub {
      font-size: 0.5rem;
    }

    .button:link,
    .button:visited {
      font-size: 0.8rem;
    }
  }
  header {
    .header__logo {
      margin-left: -3rem;
    }
  }
}
