/* Defalut Settings For Page and Body */

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Root font size that defines what one rem is */
html {
  font-size: 62.5%;
}

/*Body's settings*/
body {
  box-sizing: border-box;
  padding: 0 1rem;
  background-color: rgba(227, 198, 198, 0.92);
  background-size: cover;
  background-position: top;
  font-family: "Syncopate", sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}
