/* Styling for all the larger heading text*/
.large-heading {
  text-transform: uppercase;
  color: $text-color;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5.9rem;
    font-weight: 450;
    letter-spacing: 3px;
    animation: fadeIn 5s ease-in-out;
    margin-top: 5.3rem;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 250;
    letter-spacing: 0.5rem;
    animation: $animation-flow;
  }
}
/* Styling for all the medium-sized heading text*/
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, rgb(63, 62, 62), rgb(7, 6, 6));
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Styling for the paragraphs*/
.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/*Styling for secondary text on the about page*/
.about-secondary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgb(226, 145, 145),
    rgb(218, 40, 40)
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Rock Salt", cursive;
  color: transparent;
  padding: 1rem;
}

/*Styling for pricing text on the service page*/
.about-pricing {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, rgb(51, 47, 47), rgb(15, 9, 9));
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Rock Salt", cursive;
  color: transparent;
}

.landing-text {
  font-size: 4.1rem;
  font-family: "Rock Salt", cursive;
}
