/* clearfix to remove floats */
/* Media queries  for varius screen sizes*/
/* styling form  media query */
/* Styling for extra large screens */
@media screen and (min-width: 1171px) {
  text-align: center;
  align-items: center; }

/* Styling for large screens */
@media screen and (min-width: 861) and (max-width: 1170px) {
  main {
    text-align: center;
    align-items: center; } }

/* Styling for medium-sized screens */
@media screen and (max-width: 860px) {
  #form {
    width: 80%;
    text-align: center; }
  h2.form__heading {
    font-size: 1.2rem; }
  div.contact__form {
    padding: 3rem; }
  div.contact {
    text-align: left; }
  label.form_label {
    font-size: 1.7rem; }
  div.form__group:nth-child(2),
  div.form__group:nth-child(3),
  div.form__group:nth-child(4) {
    margin: 1rem; }
  img.header-index__logo {
    height: 6rem; }
  section.section-features
> div:nth-child(2)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
  section.section-features
> div:nth-child(2)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
  section.section-features
> div:nth-child(2)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1) {
    height: 20rem; }
  section.section-features
> div.row:nth-child(1)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
  section.section-features
> div.row:nth-child(1)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
  section.section-features
> div.row:nth-child(1)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1) {
    height: 20rem; }
  section.section-features
> div.row:nth-child(3)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
  section.section-features
> div.row:nth-child(3)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
  section.section-features
> div.row:nth-child(3)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1) {
    height: 20rem; }
  .section-features > div:nth-child(2) > div:nth-child(2) > div:nth-child(1),
  .section-features > div:nth-child(2) > div:nth-child(3) > div:nth-child(1),
  .section-features > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) {
    text-align: center; }
  div.row:nth-child(1) > div:nth-child(3) > div:nth-child(1),
  div.row:nth-child(1) > div:nth-child(4) > div:nth-child(1),
  div.row:nth-child(1) > div:nth-child(2) > div:nth-child(1),
  div.row:nth-child(3) > div:nth-child(2) > div:nth-child(1),
  div.row:nth-child(3) > div:nth-child(3) > div:nth-child(1),
  div.row:nth-child(3) > div:nth-child(4) > div:nth-child(1) {
    text-align: center; }
  h2.about-secondary {
    font-size: 2rem; }
  img.map__photo {
    width: 100%;
    height: 23rem;
    margin-top: 5rem; }
  div.row .col-1-of-2 {
    float: none;
    width: calc((100% - 2rem) / 1); }
  #greetings > div:nth-child(2) > div:nth-child(1) {
    text-align: center; }
  section.section-about {
    padding-bottom: 22rem; }
  section.section-prices {
    padding: 20rem 0 20rem 0; }
  section.section-prices
> div:nth-child(2)
> div:nth-child(1)
> div:nth-child(1) {
    text-align: center; }
  span.large-heading--main {
    font-size: 1.5rem; }
  section.services-prices {
    padding: 1rem; }
  h2.landing-text {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    padding: 1.5rem; }
  h2.services-pricing {
    font-size: 1.5rem;
    margin-top: 20rem; }
  h3.service-heading-text {
    font-size: 1.5rem;
    margin-top: 20rem;
    text-align: center; }
  h3.service-heading-text-small {
    font-size: 1.5rem;
    margin-top: 20rem;
    text-align: center; }
  div.u-margin-bottom-big {
    margin-bottom: 2rem; }
  i.service__pic {
    text-align: center; }
  i.service__pic > img:nth-child(1) {
    height: 22rem; }
  div.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 1);
    float: none; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  div.dropdown {
    float: none;
    text-align: center; }
  div.dropdown-content {
    min-width: 100px;
    width: 65%; }
  div.dropdown-content a {
    text-align: center; }
  ul.menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 2rem;
    line-height: 1.3;
    padding-bottom: 10rem; }
  div.menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    div.menu-branding .portrait {
      background: url(maddie6small.jpg);
      width: 120px;
      height: 120px; }
  div.btn-line.close:first-child {
    background: #f0eaea; }
  div.btn-line.close:nth-child(3) {
    background: white; }
  header .header__logo {
    height: 4.6rem; }
  header .menu-btn {
    right: 4rem; }
  footer .footer__social ul li {
    margin: 0.3rem; }
  footer .footer__copyright > p:nth-child(1) {
    font-size: 1.2rem; } }

/* Styling for smaller-sized screens */
@media screen and (max-width: 695px) {
  div.header-index__logo-box {
    left: 2.4rem; }
  img.header-index__logo {
    height: 5rem;
    left: 2.4rem; }
  span.large-heading--main {
    font-size: 1.5rem; }
  div.u-margin-bottom-big {
    margin-bottom: 3rem; }
  i.service__pic > img:nth-child(1) {
    height: 20rem; }
  main {
    text-align: center;
    align-items: center;
    line-height: 1; }
    main .lg-heading {
      margin-bottom: 2rem; }
    main .lg-heading--main {
      font-size: 3rem;
      letter-spacing: 0.1rem; }
    main .lg-heading--sub {
      font-size: 1.3rem; }
    main .button:link,
    main .button:visited {
      font-size: 1rem;
      padding: 0.5rem 2rem; }
  div.dropdown-content {
    min-width: 100px;
    width: 65%; }
  img.composition__photo {
    width: 20rem; }
  h2.about-pricing {
    font-size: 2.5rem;
    padding: 1rem; } }

@media screen and (max-width: 403px) {
  main {
    text-align: center;
    align-items: center;
    line-height: 1; }
    main .lg-heading--main {
      font-size: 2.1rem;
      letter-spacing: 0.5rem; }
    main .lg-heading--sub {
      font-size: 0.5rem; }
    main .button:link,
    main .button:visited {
      font-size: 0.8rem; }
  header .header__logo {
    margin-left: -4rem; }
  div.row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 1);
    float: none; }
  div.dropdown-content {
    min-width: 100px;
    width: 65%; }
  div.header-index__logo-box {
    left: 2rem; }
  img.header-index__logo {
    height: 3rem;
    left: 2rem; }
  span.large-heading--main {
    font-size: 0.9rem; }
  div.footer-about__copyright {
    font-size: 1.1rem; }
  img.composition__photo {
    width: 20rem; }
  h2.about-secondary {
    font-size: 1rem; }
  p.workhours {
    font-size: 1.3rem; } }


/* Color Variables */
/* Defalut Settings For Page and Body */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

/* Root font size that defines what one rem is */
html {
  font-size: 62.5%; }

/*Body's settings*/
body {
  box-sizing: border-box;
  padding: 0 1rem;
  background-color: rgba(227, 198, 198, 0.92);
  background-size: cover;
  background-position: top;
  font-family: "Syncopate", sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility; }

/* Default settings for the animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Styling for all the larger heading text*/
.large-heading {
  text-transform: uppercase;
  color: #faeeeeea;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .large-heading--main {
    display: block;
    font-size: 5.9rem;
    font-weight: 450;
    letter-spacing: 3px;
    animation: fadeIn 5s ease-in-out;
    margin-top: 5.3rem; }
  .large-heading--sub {
    display: block;
    font-size: 3rem;
    font-weight: 250;
    letter-spacing: 0.5rem;
    animation: fadeIn 5s ease-in-out; }

/* Styling for all the medium-sized heading text*/
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #3f3e3e, #070606);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

/* Styling for the paragraphs*/
.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/*Styling for secondary text on the about page*/
.about-secondary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #e29191, #da2828);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Rock Salt", cursive;
  color: transparent;
  padding: 1rem; }

/*Styling for pricing text on the service page*/
.about-pricing {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #332f2f, #0f0909);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Rock Salt", cursive;
  color: transparent; }

.landing-text {
  font-size: 4.1rem;
  font-family: "Rock Salt", cursive; }

/* Defualt margin settings*/
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.section-about {
  background-color: #dfcdd79b;
  padding-bottom: 45rem;
  padding-top: 20rem;
  background-image: url(background.png); }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(223, 205, 215, 0.309), rgba(7, 7, 7, 0.89)), url(hero1.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10.9rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-prices {
  background-image: url(background.png);
  padding: 25rem 0 50rem 0;
  margin-top: -12rem; }

.section-contact {
  padding: 15rem 0;
  background-image: url(background.png); }

/*Styling for the content form's container*/
.contact {
  background-image: url(backgroundBlack.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-top: 5rem; }

/* Styling for the contact form*/
.contact__form {
  width: 50%;
  padding: 6rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

/*Styling for the heading, input fields  and submit button for the contact form */
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  border: none;
  border-bottom: 3px solid gray;
  width: 90%;
  display: block; }

.form:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid gray; }

.form__heading {
  font-size: 2rem;
  color: #faeeeeea;
  font-family: "Syncopate", sans-serif; }

div.form__group:nth-child(3) > label:nth-child(2),
div.form__group:nth-child(2) > label:nth-child(2) {
  color: #faeeeeea;
  font-size: 1.9rem;
  font-family: "Syncopate", sans-serif; }

/* Styling for the PHP sucess and error messages that get sent apon form submit */
.success {
  background-color: green; }

.error {
  background: red; }

/* Styling for the textarea box */
textarea.form__input {
  height: 10rem; }

/* Styling for the submit button on the contact page*/
.submit {
  width: 10rem;
  text-align: center; }

.submit > input:nth-child(1) {
  width: 100%;
  font-family: "Syncopate", sans-serif; }

.form_label {
  font-size: 1.9rem;
  color: #faeeeeea; }

/* Styling for Booking Button */
.button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  animation: fadeIn 5s ease-in-out;
  font-size: 1.9rem; }

.button--white {
  background-color: #777575ea;
  color: #faeeeeea;
  font-size: 2rem; }
  .button--white--white::after {
    background-color: #faeeeeea; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active {
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* styling for box that hold images of salon work on the about page*/
.feature-box {
  background-color: rgba(250, 238, 238, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/* styling for images of salon work on about page */
div.row:nth-child(1)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
div.row:nth-child(1)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
div.row:nth-child(1)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1) {
  margin: 1rem;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 0.3rem; }

div.row:nth-child(1)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover,
div.row:nth-child(1)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover,
div.row:nth-child(1)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover {
  outline: 0.5rem solid #e4405f;
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem #130e0e;
  z-index: 20; }

/* styling for the second row of images of salon work on about page */
.section-features
> div:nth-child(2)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
.section-features
> div:nth-child(2)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
.section-features
> div:nth-child(2)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1) {
  margin: 1rem;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 0.3rem; }

.section-features
> div:nth-child(2)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover,
.section-features
> div:nth-child(2)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover,
.section-features
> div:nth-child(2)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover {
  outline: 0.5rem solid #e4405f;
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem #130e0e;
  z-index: 20; }

/* styling for the third row of images of salon work on about page */
div.row:nth-child(3)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
div.row:nth-child(3)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1),
div.row:nth-child(3)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1) {
  margin: 1rem;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 0.3rem; }

div.row:nth-child(3)
> div:nth-child(2)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover,
div.row:nth-child(3)
> div:nth-child(3)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover,
div.row:nth-child(3)
> div:nth-child(4)
> div:nth-child(1)
> i:nth-child(1)
> img:nth-child(1):hover {
  outline: 0.5rem solid #e4405f;
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem #130e0e;
  z-index: 20; }

/* Styling for the container that holds the text, images, service discriptions and dropdown button for service page*/
.services-pricing {
  padding: 2rem;
  font-size: 6rem;
  margin-bottom: 20rem;
  font-family: "Rock Salt", cursive; }

.services-prices {
  padding: 20rem;
  background-image: url(background.png); }

div.u-center-text:nth-child(3) {
  margin-top: 20rem; }

.services {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 19vh; }

.dropdown {
  float: left;
  overflow: hidden; }

/*styling for the containers that hold the dropdown container with all the specific service information */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a09d9d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  margin-bottom: 1rem; }

/*Styling for service's dropdown container's links*/
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: url(icons8-barber-scissors-40.png), auto; }

.dropdown-content a:hover {
  background-color: #837c7c; }

.show {
  display: block; }

/*Styling for each indiviual service in the dropdown service container on the service page*/
div.row:nth-child(2)
> div:nth-child(1)
> div:nth-child(2)
> div:nth-child(1)
> img:nth-child(1) {
  height: 30.9rem;
  margin-bottom: 1rem;
  border-radius: 9rem; }

div.row:nth-child(2)
> div:nth-child(2)
> div:nth-child(2)
> div:nth-child(1)
> img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem; }

div.row:nth-child(2)
> div:nth-child(3)
> div:nth-child(2)
> div:nth-child(1)
> img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem; }

div.row:nth-child(1)
> div:nth-child(1)
> div:nth-child(2)
> div:nth-child(1)
> img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem; }

div.row:nth-child(1)
> div:nth-child(2)
> div:nth-child(2)
> div:nth-child(1)
> img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem; }

div.row:nth-child(1)
> div:nth-child(3)
> div:nth-child(2)
> div:nth-child(1)
> img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem; }

/* Styling for the text for all the items inside the dropdown container on the service page */
.services_text {
  margin-bottom: 3.8rem;
  font-size: 2.8rem;
  padding: 0 4rem; }

.services_text-bottom-small {
  margin-bottom: 3.8rem;
  font-size: 2.3rem; }

/*Styling for the images for all the specific services on the service page */
.service__pic {
  margin: 1rem;
  display: block; }

.service__pic > img:nth-child(1) {
  height: 25rem;
  margin-bottom: 1rem;
  border-radius: 9rem; }

/* Styling for the big  bigger bridal picture */
div.row:nth-child(3)
> div:nth-child(3)
> div:nth-child(2)
> i:nth-child(1)
> img:nth-child(1) {
  height: 15rem;
  margin-top: 1.5rem; }

/*Styling for all the dropdown buttons on the service page*/
.dropbtn,
.dropbtn1,
.dropbtn2,
.dropbtn3,
.dropbtn4,
.dropbtn5 {
  width: 20rem;
  height: 2rem;
  margin-top: 2rem;
  cursor: url(icons8-barber-scissors-40.png), auto;
  border-radius: 1rem;
  background-color: #393636e6;
  color: #f0dada;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  margin-left: 1.8rem;
  padding: 0.7rem 0.5rem 4rem 0.5rem; }

.dropbtn:hover,
.dropbtn1:hover,
.dropbtn2:hover,
.dropbtn3:hover,
.dropbtn4:hover,
.dropbtn5:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #a09d9d;
  color: #393636e6; }

/* Styling for the dropdown box that contains the specific services on the service page*/
.service-heading-text {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Rock Salt", cursive; }

.service-heading-text-small {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  font-family: "Rock Salt", cursive; }

.service-descrp {
  font-family: "Prosto One", cursive;
  font-size: 1.5rem; }

.service-price-time {
  font-family: "Prosto One", cursive;
  font-weight: bold;
  font-size: 1.2rem; }

/*Styling for the hours, address and map info and image on the about page*/
.hours {
  font-size: 3rem;
  margin-top: 3rem; }

.workhours {
  font-size: 2rem; }

.address {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.workaddress {
  font-size: 2rem; }

.location {
  font-size: 3rem;
  font-family: "Prosto One", cursive; }

.map__photo {
  width: 70vh;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.4);
  margin-top: 20rem;
  transition: all 0.2s; }
  .map__photo:hover {
    outline: 0.5rem solid #252222;
    transform: scale(1.2) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem #130e0e;
    z-index: 20; }

/* Default styling for header section, including logo and hamburger menu*/
.header-index {
  height: 12rem;
  right: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, rgba(117, 115, 117, 0.84), rgba(7, 7, 7, 0.911)), url(hero1.jpg);
  background-size: cover;
  background-position: top;
  position: fixed;
  margin: 0 1rem;
  z-index: 22; }
  .header-index__logo-box {
    position: absolute;
    left: 6.4rem;
    top: 2.4rem;
    animation: fadeIn 5s ease-in-out; }
  .header-index__logo {
    height: 8.5rem;
    cursor: url(icons8-barber-scissors-40.png), auto; }
  .header-index__info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* After Hamburger Menu clicked, the transformation of the menu page. */
.composition.hide {
  top: 0;
  width: 100%;
  opacity: 0.93;
  visibility: hidden; }

.section-about.hide {
  top: 0;
  width: 100%;
  opacity: 0.93;
  visibility: hidden; }

.menu {
  top: 0;
  width: 100%;
  opacity: 0.93;
  visibility: hidden; }

/* Styling for nav menu after it has been clicked and show class is attached to it.*/
.menu.show {
  visibility: visible;
  z-index: 10000; }

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden; }

.menu-nav {
  margin: 0;
  padding: 0;
  background: #b6b2b4;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: 0.5s ease-in; }

.menu-nav.show {
  transform: translate3d(0, 0, 0);
  overflow: hidden; }

.menu-branding {
  background: #252222;
  transform: translate3d(0, 100%, 0);
  transition: 0.5s ease-in; }

.menu-branding.show {
  transform: translate3d(0, 0, 0); }

.nav-link {
  display: inline;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  text-decoration: none;
  color: #252222;
  cursor: url(icons8-barber-scissors-40.png), auto; }

.nav-link.current {
  color: #d13838; }

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 1rem;
  left: 0;
  background: #252222;
  visibility: hidden;
  border-radius: 0.5rem;
  transform: scaleX(0);
  transition: 0.25s linear; }

.nav-link:hover:before,
.nav-link:focus:before {
  visibility: visible;
  transform: scaleX(1); }

/* Styling for profile picture and nav menu items */
.portrait {
  width: 40rem;
  height: 40rem;
  background: url(maddie6.jpg);
  border-radius: 50%; }

.nav-item {
  transform: translate3d(600px, 0, 0);
  transition: 0.5s ease-in; }

.nav-item.show {
  transform: translate3d(0, 0, 0); }

.nav-item.show:first-child {
  transition-delay: 0.1s; }

.nav-item.show:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item.show:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item.show:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item.show:last-child {
  transition-delay: 0.5s; }

/* Orginal State of Top Hamburger Menu Buttons Before Being Clicked */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 10rem;
  top: 3.5rem;
  cursor: url(icons8-barber-scissors-40.png), auto;
  transition: 0.5s ease-in-out;
  animation: fadeIn 5s ease-in-out; }

.btn-line {
  width: 2.8rem;
  height: 0.3rem;
  margin: 0 0 0.5rem 0;
  background: #faeeeeea; }

/* Hamburger Button Transformation into an "X" */
.menu-btn.close {
  transform: rotate(180deg); }

.btn-line.close:first-child {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
  background: #252222; }

.btn-line.close:nth-child(2) {
  opacity: 0; }

.btn-line.close:nth-child(3) {
  transform: rotate(-45deg) translate(0.7rem, -6px);
  background: #252222; }

/* Settings for row and coloum containers */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 800px) {
    .row * {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
      -ms-transform: none !important;
      transform: none !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
    float: left; }
    .row .col-2-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
    float: left; }
    .row .col-2-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
    float: left; }
    .row .col-3-of-4:not(:last-child) {
      margin-right: 6rem; }

/*Default settings for footer */
.footer-about {
  padding-top: 0.9rem;
  padding-bottom: 3.5rem;
  font-size: 1.4rem;
  text-align: center;
  box-sizing: inherit;
  position: relative;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, rgba(117, 115, 117, 0.84), rgba(7, 7, 7, 0.911)), url(hero1.jpg);
  background-size: cover;
  background-position: top;
  /* Styling for the copyright on the footer*/
  /* Social Media Icon Styling */ }
  .footer-about__copyright {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    animation: fadeIn 5s ease-in-out;
    color: #faeeeeea; }
  .footer-about__social {
    display: inline-block; }
    .footer-about__social ul li {
      list-style: none;
      margin: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
      background-color: rgba(29, 28, 28, 0.746);
      text-align: center;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      color: rgba(250, 250, 250, 0.479);
      z-index: 0;
      font-size: 2.5rem;
      transition: 0.5s ease-out;
      animation: fadeIn 5s ease-in-out;
      display: inline-block;
      border: 1px solid #faeeeeea;
      padding: 0;
      border-radius: 50%;
      cursor: url(icons8-barber-scissors-40.png), auto; }
    .footer-about__social ul li::before {
      content: "";
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 0;
      left: -100%;
      background: rgba(250, 250, 250, 0.479);
      z-index: -1;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease-in-out;
      cursor: url(icons8-barber-scissors-40.png), auto; }
    .footer-about__social ul li:hover:before {
      left: 0;
      transform: scale(0.9);
      cursor: url(icons8-barber-scissors-40.png), auto; }
    .footer-about__social ul li:nth-child(1):before {
      background-color: #3b5999;
      cursor: url(icons8-barber-scissors-40.png), auto; }
    .footer-about__social ul li:nth-child(2):before {
      background-color: #e4405f;
      cursor: url(icons8-barber-scissors-40.png), auto; }
    .footer-about__social ul li:nth-child(3):before {
      background-color: #c72626;
      cursor: url(icons8-barber-scissors-40.png), auto; }
    .footer-about__social ul li:hover .fab {
      color: #f0eeee;
      cursor: url(icons8-barber-scissors-40.png), auto; }

.fa-envelope-square:before {
  color: #f0eeee;
  cursor: url(icons8-barber-scissors-40.png), auto; }

.fab {
  color: #f0eeee;
  cursor: url(icons8-barber-scissors-40.png), auto; }
