/* Media Queries */

@media screen and (max-width: 568px) {
  
    @media screen and (min-width: 950px) and (max-width: 1399px) {
      
    }
    
    @media screen and (min-width: 1400px) and (max-width: 1650px) {
     
    }
     @media screen and (min-width: 1171px) {
    }