/* Color Variables */
/* Defalut Settings For Page and Body */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

/* Root font size that defines what one rem is */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* styling for company container, the company name and  and company slogan */
.lg-heading {
  text-transform: uppercase;
  color: #faeeeeea;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .lg-heading--main {
    display: block;
    font-size: 7rem;
    font-weight: 450;
    letter-spacing: 5px;
    animation: fadeIn 5s ease-in-out; }
  .lg-heading--sub {
    display: block;
    font-size: 3rem;
    font-weight: 250;
    letter-spacing: 0.5rem;
    animation: fadeIn 5s ease-in-out; }

/* Body fonts */
body {
  background-image: url(/resources/img/background.png);
  background-size: cover;
  background-position: top;
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  padding: 0.8rem; }

/* Styling for Booking Button */
.button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  animation: fadeIn 5s ease-in-out;
  font-size: 1.9rem; }

.button--white {
  background-color: #777575ea;
  color: #faeeeeea;
  font-size: 2rem; }
  .button--white--white::after {
    background-color: #faeeeeea; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active {
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* Styling for header class */
.header {
  position: fixed;
  height: 88vh;
  background-image: linear-gradient(to right bottom, rgba(223, 205, 215, 0.309), rgba(7, 7, 7, 0.89)), url(/resources/img/hero1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    left: 6.4rem;
    top: 2.4rem;
    animation: fadeIn 5s ease-in-out; }
  .header__logo {
    height: 8.5rem; }
  .header__info-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* After Hamburger Menu clicked, the transformation of the menu page. */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.93;
  visibility: hidden; }

.menu.show {
  visibility: visible; }

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  border: #f1eded solid 5px; }

.menu-nav {
  margin: 0;
  padding: 0;
  background: #b6b2b4;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: 0.5s ease-in; }

.menu-nav.show {
  transform: translate3d(0, 0, 0); }

.menu-branding {
  background: #252222;
  transform: translate3d(0, 100%, 0);
  transition: 0.5s ease-in; }

.menu-branding.show {
  transform: translate3d(0, 0, 0); }

.nav-link {
  display: inline;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  text-decoration: none;
  color: #252222; }

.nav-link.current {
  color: #d13838; }

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 1rem;
  left: 0;
  background: #252222;
  visibility: hidden;
  border-radius: 0.5rem;
  transform: scaleX(0);
  transition: 0.25s linear; }

.nav-link:hover:before,
.nav-link:focus:before {
  visibility: visible;
  transform: scaleX(1); }

/* Styling for profile picture and nav menu */
.portrait {
  width: 40rem;
  height: 40rem;
  background: url(/resources/css/img/maddie6.jpg);
  border-radius: 50%;
  border: solid 0.3rem #dfcdd79b; }

.nav-item {
  transform: translate3d(600px, 0, 0);
  transition: 0.5s ease-in; }

.nav-item.show {
  transform: translate3d(0, 0, 0); }

.nav-item.show:first-child {
  transition-delay: 0.1s; }

.nav-item.show:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item.show:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item.show:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item.show:last-child {
  transition-delay: 0.5s; }

/* Orginal State of Top Hamburger Menu Buttons Before Being Clicked */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 10rem;
  top: 3.5rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  animation: fadeIn 5s ease-in-out; }

.btn-line {
  width: 2.8rem;
  height: 0.3rem;
  margin: 0 0 0.5rem 0;
  background: #faeeeeea; }

/* Hamburger Button Transformation into an "X" */
.menu-btn.close {
  transform: rotate(180deg); }

.btn-line.close:first-child {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
  background: #252222; }

.btn-line.close:nth-child(2) {
  opacity: 0; }

.btn-line.close:nth-child(3) {
  transform: rotate(-45deg) translate(0.7rem, -6px);
  background: #252222; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin: 8rem; }
  .row:not(:last-child) {
    margin: 8rem; }

.col-1-of-2 {
  width: calc((100%- 6rem) / 2); }

.footer {
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
  box-sizing: inherit;
  padding-bottom: 0.6rem;
  padding-right: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Social Media Icon Styling */ }
  .footer__copyright {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    animation: fadeIn 5s ease-in-out; }
  .footer__social {
    display: inline-block; }
    .footer__social ul li {
      list-style: none;
      margin: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
      background-color: rgba(29, 28, 28, 0.746);
      text-align: center;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      color: rgba(250, 250, 250, 0.479);
      z-index: 1;
      font-size: 2.5rem;
      transition: 0.5s ease-out;
      animation: fadeIn 5s ease-in-out;
      display: inline-block; }
    .footer__social ul li::before {
      content: "";
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 0;
      left: -100%;
      background: rgba(250, 250, 250, 0.479);
      z-index: -1;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease-in-out; }
    .footer__social ul li:hover:before {
      left: 0;
      transform: scale(0.9); }
    .footer__social ul li:nth-child(1):before {
      background-color: #3b5999; }
    .footer__social ul li:nth-child(2):before {
      background-color: #e4405f; }
    .footer__social ul li:nth-child(3):before {
      background-color: #c72626; }
    .footer__social ul li:hover .fab {
      color: #f0eeee; }

.fa-envelope-square:before {
  color: #f0eeee; }

.fab {
  color: #f0eeee; }

.large-heading {
  text-transform: uppercase;
  color: #faeeeeea;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .large-heading--main {
    display: block;
    font-size: 5.9rem;
    font-weight: 450;
    letter-spacing: 3px;
    animation: fadeIn 5s ease-in-out;
    margin-top: 5.3rem; }
  .large-heading--sub {
    display: block;
    font-size: 3rem;
    font-weight: 250;
    letter-spacing: 0.5rem;
    animation: fadeIn 5s ease-in-out; }

.about {
  background-image: url(/resources/img/background.png);
  background-size: cover;
  background-position: top;
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  padding: 0.8rem;
  border-right-style: solid; }

.footer-about {
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
  box-sizing: inherit;
  padding-bottom: 0.6rem;
  padding-right: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(18, 17, 18, 0.84), rgba(7, 7, 7, 0.89));
  /* Social Media Icon Styling */ }
  .footer-about__copyright {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    animation: fadeIn 5s ease-in-out;
    color: #faeeeeea; }
  .footer-about__social {
    display: inline-block; }
    .footer-about__social ul li {
      list-style: none;
      margin: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
      background-color: rgba(29, 28, 28, 0.746);
      text-align: center;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      color: rgba(250, 250, 250, 0.479);
      z-index: 1;
      font-size: 2.5rem;
      transition: 0.5s ease-out;
      animation: fadeIn 5s ease-in-out;
      display: inline-block;
      border: 1px solid #faeeeeea;
      padding: 0;
      border-radius: 50%; }
    .footer-about__social ul li::before {
      content: "";
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 0;
      left: -100%;
      background: rgba(250, 250, 250, 0.479);
      z-index: -1;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease-in-out; }
    .footer-about__social ul li:hover:before {
      left: 0;
      transform: scale(0.9); }
    .footer-about__social ul li:nth-child(1):before {
      background-color: #3b5999; }
    .footer-about__social ul li:nth-child(2):before {
      background-color: #e4405f; }
    .footer-about__social ul li:nth-child(3):before {
      background-color: #c72626; }
    .footer-about__social ul li:hover .fab {
      color: #f0eeee; }

.fa-envelope-square:before {
  color: #f0eeee; }

.fab {
  color: #f0eeee; }

.header-index {
  height: 12rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  background-image: linear-gradient(to right bottom, rgba(18, 17, 18, 0.84), rgba(7, 7, 7, 0.89)); }
  .header-index__logo-box {
    position: absolute;
    left: 6.4rem;
    top: 2.4rem;
    animation: fadeIn 5s ease-in-out; }
  .header-index__logo {
    height: 8.5rem; }
  .header-index__info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
