.footer {
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
  box-sizing: inherit;
  padding-bottom: 0.6rem;
  padding-right: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &__copyright {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    animation: $animation-flow;
  }

  /* Social Media Icon Styling */

  &__social {
    display: inline-block;

    ul li {
      list-style: none;
      //float: left;
      margin: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
      background-color: $icon-background-color;
      text-align: center;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      color: $icon-starting-color;
      z-index: 1;
      font-size: 2.5rem;
      transition: 0.5s ease-out;
      animation: fadeIn 5s ease-in-out;
      display: inline-block;
      cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
    }
    ul li::before {
      content: "";
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 0;
      left: -100%;
      background: $icon-starting-color;
      z-index: -1;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease-in-out;
      cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
    }
    ul li:hover:before {
      left: 0;
      transform: scale(0.9);
      cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
    }
    ul li:nth-child(1):before {
      background-color: $facebook-color;
      cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
    }
    ul li:nth-child(2):before {
      background-color: $instagram-color;
      cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
    }
    ul li:nth-child(3):before {
      background-color: $envolope-color;
      cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
    }
    ul li:hover .fab {
      color: $icon-white;
      cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
    }
  }
}

.fa-envelope-square:before {
  color: $icon-white;
  cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
}
.fab {
  color: $icon-white;
}
