.row {
  max-width: $grid-width;
  margin: 0 auto;
  margin: $gutter-vertical;
  &:not(:last-child) {
    margin: $gutter-vertical;
  }
}

.col-1-of-2 {
  width: calc((100%- #{$gutter-horizontal}) / 2);
}
