/* Styling for header class */
.header {
  position: fixed;
  height: 88vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(223, 205, 215, 0.309),
      rgba(7, 7, 7, 0.89)
    ),
    url(/resources/img/hero1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  &__logo-box {
    position: absolute;
    left: 6.4rem;
    top: 2.4rem;
    animation: $animation-flow;
  }

  &__logo {
    height: 8.5rem;
    cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
  }

  &__info-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
