/* After Hamburger Menu clicked, the transformation of the menu page. */

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.93;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  border: $header-menu-border-color solid 5px;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: $header-menu-backgroud-color;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: 0.5s ease-in;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: $nav-hamburger-x-color;
  transform: translate3d(0, 100%, 0);
  transition: 0.5s ease-in;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.nav-link {
  display: inline;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  text-decoration: none;
  color: $nav-hamburger-x-color;
  cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
}
.nav-link.current {
  color: $menu-active-color;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 1rem;
  left: 0;
  background: $nav-hamburger-x-color;
  visibility: hidden;
  border-radius: 0.5rem;
  transform: scaleX(0);
  transition: 0.25s linear;
}
.nav-link:hover:before,
.nav-link:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Styling for profile picture and nav menu */

.portrait {
  width: 40rem;
  height: 40rem;
  background: url(/resources/css/img/maddie6.jpg);
  border-radius: 50%;
  border: solid 0.3rem $primary-color;
}
.nav-item {
  transform: translate3d(600px, 0, 0);
  transition: 0.5s ease-in;
}

.nav-item.show {
  transform: translate3d(0, 0, 0);
}
.nav-item.show:first-child {
  transition-delay: 0.1s;
}
.nav-item.show:nth-child(2) {
  transition-delay: 0.2s;
}
.nav-item.show:nth-child(3) {
  transition-delay: 0.3s;
}
.nav-item.show:nth-child(4) {
  transition-delay: 0.4s;
}
.nav-item.show:last-child {
  transition-delay: 0.5s;
}
