/*.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 25rem;
  font-size: 1.5rem;

  text-align: center;

  &__pic {
    margin: 1rem;
  }

  &__side {
    background-color: rgba($button-color, 0.8);
    height: 35rem;
    box-shadow: 0 1.5rem 4rem rgba($second-color, 0.15);
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    overflow: hidden;
    padding: 6rem;

    &--front {
      background-color: rgba($button-color, 0.8);
    }

    &--back {
      background-image: linear-gradient(
          to right bottom,
          rgba(117, 115, 117, 0.84),
          rgba(7, 7, 7, 0.911)
        ),
        url(/resources/img/hero1.jpg);
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}

.cardbtn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    animation: $animation-flow;
    font-size: 1.7rem;
    background-color: $button-color;
    color: $text-color;
    margin-top: 2.5rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      background-color: $text-color;
    }
  }

  &:active {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
