/*.composition {
  position: relative;
  &__photo {
    width: 85%;
    box-shadow: 0 1.5rem 4rem rgba($second-color, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.3rem;
    margin-left: 15rem;

    &:hover {
      outline: 0.5rem solid $nav-hamburger-x-color;
      transform: scale(1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($second-color, 1);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
