/* styling for box that hold images of salon work on the about page*/
.feature-box {
  background-color: rgba($text-color, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($second-color, 0.15);
  transition: transform 0.3s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

/* styling for images of salon work on about page */

div.row:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1),
div.row:nth-child(1)
  > div:nth-child(3)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1),
div.row:nth-child(1)
  > div:nth-child(4)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1) {
  margin: 1rem;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 0.3rem;
}

div.row:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover,
div.row:nth-child(1)
  > div:nth-child(3)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover,
div.row:nth-child(1)
  > div:nth-child(4)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover {
  outline: 0.5rem solid $instagram-color;
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba($second-color, 1);
  z-index: 20;
}

/* styling for the second row of images of salon work on about page */

.section-features
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1),
.section-features
  > div:nth-child(2)
  > div:nth-child(3)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1),
.section-features
  > div:nth-child(2)
  > div:nth-child(4)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1) {
  margin: 1rem;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 0.3rem;
}

.section-features
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover,
.section-features
  > div:nth-child(2)
  > div:nth-child(3)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover,
.section-features
  > div:nth-child(2)
  > div:nth-child(4)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover {
  outline: 0.5rem solid $instagram-color;
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba($second-color, 1);
  z-index: 20;
}

/* styling for the third row of images of salon work on about page */

div.row:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1),
div.row:nth-child(3)
  > div:nth-child(3)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1),
div.row:nth-child(3)
  > div:nth-child(4)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1) {
  margin: 1rem;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(19, 14, 14, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 0.3rem;
}

div.row:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover,
div.row:nth-child(3)
  > div:nth-child(3)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover,
div.row:nth-child(3)
  > div:nth-child(4)
  > div:nth-child(1)
  > i:nth-child(1)
  > img:nth-child(1):hover {
  outline: 0.5rem solid $instagram-color;
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba($second-color, 1);
  z-index: 20;
}
