/* Styling for the container that holds the text, images, service discriptions and dropdown button for service page*/

.services-pricing {
  padding: 2rem;
  font-size: 6rem;
  margin-bottom: 20rem;
  font-family: "Rock Salt", cursive;
}

.services-prices {
  padding: 20rem;
  background-image: url(/resources/img/background.png);
}

div.u-center-text:nth-child(3) {
  margin-top: 20rem;
}

.services {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 19vh;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/*styling for the containers that hold the dropdown container with all the specific service information */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a09d9d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  margin-bottom: 1rem;
}

/*Styling for service's dropdown container's links*/
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
}

.dropdown-content a:hover {
  background-color: rgb(131, 124, 124);
}

.show {
  display: block;
}

/*Styling for each indiviual service in the dropdown service container on the service page*/
div.row:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(1)
  > img:nth-child(1) {
  height: 30.9rem;
  margin-bottom: 1rem;
  border-radius: 9rem;
}
div.row:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1)
  > img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem;
}

div.row:nth-child(2)
  > div:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(1)
  > img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem;
}

div.row:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(1)
  > img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem;
}

div.row:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1)
  > img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem;
}
div.row:nth-child(1)
  > div:nth-child(3)
  > div:nth-child(2)
  > div:nth-child(1)
  > img:nth-child(1) {
  height: 29.5rem;
  margin-bottom: 0.5rem;
  border-radius: 9rem;
  font-size: 2.5rem;
}

/* Styling for the text for all the items inside the dropdown container on the service page */
.services_text {
  margin-bottom: 3.8rem;
  font-size: 2.8rem;
  padding: 0 4rem;
}

.services_text-bottom-small {
  margin-bottom: 3.8rem;
  font-size: 2.3rem;
}

/*Styling for the images for all the specific services on the service page */
.service__pic {
  margin: 1rem;
  display: block;
}

.service__pic > img:nth-child(1) {
  height: 25rem;
  margin-bottom: 1rem;
  border-radius: 9rem;
}

/* Styling for the big  bigger bridal picture */

div.row:nth-child(3)
  > div:nth-child(3)
  > div:nth-child(2)
  > i:nth-child(1)
  > img:nth-child(1) {
  height: 15rem;
  margin-top: 1.5rem;
}

/*Styling for all the dropdown buttons on the service page*/
.dropbtn,
.dropbtn1,
.dropbtn2,
.dropbtn3,
.dropbtn4,
.dropbtn5 {
  width: 20rem;
  height: 2rem;
  margin-top: 2rem;
  cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
  border-radius: 1rem;
  background-color: #393636e6;
  color: #f0dada;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  margin-left: 1.8rem;
  padding: 0.7rem 0.5rem 4rem 0.5rem;
}

.dropbtn:hover,
.dropbtn1:hover,
.dropbtn2:hover,
.dropbtn3:hover,
.dropbtn4:hover,
.dropbtn5:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #a09d9d;
  color: #393636e6;
}

/* Styling for the dropdown box that contains the specific services on the service page*/

.service-heading-text {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Rock Salt", cursive;
}

.service-heading-text-small {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  font-family: "Rock Salt", cursive;
}

.service-descrp {
  font-family: "Prosto One", cursive;
  font-size: 1.5rem;
}

.service-price-time {
  font-family: "Prosto One", cursive;
  font-weight: bold;
  font-size: 1.2rem;
}

/*Styling for the hours, address and map info and image on the about page*/
.hours {
  font-size: 3rem;
  margin-top: 3rem;
}

.workhours {
  font-size: 2rem;
}

.address {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.workaddress {
  font-size: 2rem;
}

.location {
  font-size: 3rem;
  font-family: "Prosto One", cursive;
}

.map__photo {
  width: 70vh;
  height: 30rem;
  box-shadow: 0 1.5rem 4rem rgba($second-color, 0.4);
  margin-top: 20rem;
  transition: all 0.2s;

  &:hover {
    outline: 0.5rem solid $nav-hamburger-x-color;
    transform: scale(1.2) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($second-color, 1);
    z-index: 20;
  }
}
