/* Styling for Booking Button */
.button {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    animation: $animation-flow;
    font-size: 1.9rem;
  }

  &--white {
    background-color: $button-color;
    color: $text-color;
    font-size: 2rem;

    &--white::after {
      background-color: $text-color;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
