.containers {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  & > * {
    padding: 4rem;
    font-size: 3rem;
  }
}

.gallery {
  margin-top: 14rem;
  grid-column: full-start / full-end;
  background: url(/resources/img/background.png);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
  &__item {
    &--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }

    &--2 {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3;
    }
    &--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / span 7;
    }
    &--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / span -1;
    }
    &--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2;
    }
    &--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
    }

    &--7 {
      grid-row: 4 / span 5;
      grid-column: 5 / span 6;
    }

    &--8 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 2;
    }

    &--9 {
      grid-row: 3 / span 3;
      grid-column: 8 / span -1;
    }

    &--10 {
      grid-row: 6 / span 2;
      grid-column: 1 / span 2;
    }

    &--11 {
      grid-row: 6 / span 8;
      grid-column: 2 / span 4;
    }

    &--12 {
      grid-row: 6 / span 4;
      grid-column: 4 / span 5;
    }
    &--13 {
      grid-row: 5 / span 5;
      grid-column: 5 / span 3;
    }

    &--14 {
      grid-row: 6 / span 8;
      grid-column: 8 / span -1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
