/* clearfix to remove floats */
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  @media (max-width: 800px) {
    * {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
      -ms-transform: none !important;
      transform: none !important;
    }
  }
}
/* Media queries  for varius screen sizes*/
@mixin mediaExSm {
  @media screen and (max-width: 403px) {
    @content;
  }
}
@mixin mediaSm {
  @media screen and (max-width: 695px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 860px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 861) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
