/* styling form  media query */

/* Styling for extra large screens */
@include mediaXL {
  text-align: center;
  align-items: center;
}

/* Styling for large screens */
@include mediaLg {
  main {
    text-align: center;
    align-items: center;
  }
}

/* Styling for medium-sized screens */
@include mediaMd {
  #form {
    width: 80%;
    text-align: center;
  }
  h2.form__heading {
    font-size: 1.2rem;
  }
  div.contact__form {
    padding: 3rem;
  }
  div.contact {
    text-align: left;
  }
  label.form_label {
    font-size: 1.7rem;
  }
  div.form__group:nth-child(2),
  div.form__group:nth-child(3),
  div.form__group:nth-child(4) {
    margin: 1rem;
  }
  img.header-index__logo {
    height: 6rem;
  }
  section.section-features
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1),
  section.section-features
    > div:nth-child(2)
    > div:nth-child(3)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1),
  section.section-features
    > div:nth-child(2)
    > div:nth-child(4)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1) {
    height: 20rem;
  }

  section.section-features
    > div.row:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1),
  section.section-features
    > div.row:nth-child(1)
    > div:nth-child(3)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1),
  section.section-features
    > div.row:nth-child(1)
    > div:nth-child(4)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1) {
    height: 20rem;
  }

  section.section-features
    > div.row:nth-child(3)
    > div:nth-child(2)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1),
  section.section-features
    > div.row:nth-child(3)
    > div:nth-child(3)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1),
  section.section-features
    > div.row:nth-child(3)
    > div:nth-child(4)
    > div:nth-child(1)
    > i:nth-child(1)
    > img:nth-child(1) {
    height: 20rem;
  }
  .section-features > div:nth-child(2) > div:nth-child(2) > div:nth-child(1),
  .section-features > div:nth-child(2) > div:nth-child(3) > div:nth-child(1),
  .section-features > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) {
    text-align: center;
  }

  div.row:nth-child(1) > div:nth-child(3) > div:nth-child(1),
  div.row:nth-child(1) > div:nth-child(4) > div:nth-child(1),
  div.row:nth-child(1) > div:nth-child(2) > div:nth-child(1),
  div.row:nth-child(3) > div:nth-child(2) > div:nth-child(1),
  div.row:nth-child(3) > div:nth-child(3) > div:nth-child(1),
  div.row:nth-child(3) > div:nth-child(4) > div:nth-child(1) {
    text-align: center;
  }
  h2.about-secondary {
    font-size: 2rem;
  }
  img.map__photo {
    width: 100%;
    height: 23rem;
    margin-top: 5rem;
  }
  div.row {
    .col-1-of-2 {
      float: none;
      width: calc((100% - 2rem) / 1);
    }
  }

  #greetings > div:nth-child(2) > div:nth-child(1) {
    text-align: center;
  }

  section.section-about {
    padding-bottom: 22rem;
  }
  section.section-prices {
    padding: 20rem 0 20rem 0;
  }
  section.section-prices
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(1) {
    text-align: center;
  }
  span.large-heading--main {
    font-size: 1.5rem;
  }
  section.services-prices {
    padding: 1rem;
  }

  h2.landing-text {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    padding: 1.5rem;
  }
  h2.services-pricing {
    font-size: 1.5rem;
    margin-top: 20rem;
  }
  h3.service-heading-text {
    font-size: 1.5rem;
    margin-top: 20rem;
    text-align: center;
  }
  h3.service-heading-text-small {
    font-size: 1.5rem;
    margin-top: 20rem;
    text-align: center;
  }
  div.u-margin-bottom-big {
    margin-bottom: 2rem;
  }
  i.service__pic {
    text-align: center;
  }
  i.service__pic > img:nth-child(1) {
    height: 22rem;
  }
  div.row {
    .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 1);
      float: none;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  div.dropdown {
    float: none;
    text-align: center;
  }
  div.dropdown-content {
    min-width: 100px;
    width: 65%;
  }
  div.dropdown-content a {
    text-align: center;
  }

  ul.menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 2rem;
    line-height: 1.3;
    padding-bottom: 10rem;
  }
  div.menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url(/resources/img/maddie6small.jpg);
      width: 120px;
      height: 120px;
    }
  }
  div.btn-line.close:first-child {
    background: #f0eaea;
  }
  div.btn-line.close:nth-child(3) {
    background: white;
  }
  header {
    .header__logo {
      height: 4.6rem;
    }
    .menu-btn {
      right: 4rem;
    }
  }

  footer {
    .footer__social ul li {
      margin: 0.3rem;
    }
    .footer__copyright > p:nth-child(1) {
      font-size: 1.2rem;
    }
  }
}
/* Styling for smaller-sized screens */
@include mediaSm {
  div.header-index__logo-box {
    left: 2.4rem;
  }
  img.header-index__logo {
    height: 5rem;
    left: 2.4rem;
  }

  span.large-heading--main {
    font-size: 1.5rem;
  }

  div.u-margin-bottom-big {
    margin-bottom: 3rem;
  }
  i.service__pic > img:nth-child(1) {
    height: 20rem;
  }

  main {
    text-align: center;
    align-items: center;
    line-height: 1;
    .lg-heading {
      margin-bottom: 2rem;
    }
    .lg-heading--main {
      font-size: 3rem;
      letter-spacing: 0.1rem;
    }
    .lg-heading--sub {
      font-size: 1.3rem;
    }

    .button:link,
    .button:visited {
      font-size: 1rem;
      padding: 0.5rem 2rem;
    }
  }
  div.dropdown-content {
    min-width: 100px;
    width: 65%;
  }
  img.composition__photo {
    width: 20rem;
  }
  h2.about-pricing {
    font-size: 2.5rem;
    padding: 1rem;
  }
}

@include mediaExSm {
  main {
    text-align: center;
    align-items: center;
    line-height: 1;

    .lg-heading--main {
      font-size: 2.1rem;
      letter-spacing: 0.5rem;
    }
    .lg-heading--sub {
      font-size: 0.5rem;
    }

    .button:link,
    .button:visited {
      font-size: 0.8rem;
    }
  }
  header {
    .header__logo {
      margin-left: -4rem;
    }
  }
  div.row {
    .col-1-of-3 {
      width: calc((100% - 2 * 1rem) / 1);
      float: none;
    }
  }
  div.dropdown-content {
    min-width: 100px;
    width: 65%;
  }
  div.header-index__logo-box {
    left: 2rem;
  }
  img.header-index__logo {
    height: 3rem;
    left: 2rem;
  }
  span.large-heading--main {
    font-size: 0.9rem;
  }

  div.footer-about__copyright {
    font-size: 1.1rem;
  }
  img.composition__photo {
    width: 20rem;
  }
  h2.about-secondary {
    font-size: 1rem;
  }

  p.workhours {
    font-size: 1.3rem;
  }
}

/*



.section-prices {
- padding: 25rem 0 50rem 0;
+ padding: 15rem 0 20rem 0;
}
div.row:nth-child(3) > div:nth-child(2) > div:nth-child(1) > i:nth-child(1) > img:nth-child(1), div.row:nth-child(3) > div:nth-child(3) > div:nth-child(1) > i:nth-child(1) > img:nth-child(1), div.row:nth-child(3) > div:nth-child(4) > div:nth-child(1) > i:nth-child(1) > img:nth-child(1) {
- height: 30rem;
+ height: 20rem;
}
@media screen and (max-width: 860px) {
div.row .col-1-of-3 {
- width: calc((100% - 2 * 6rem) / 1);
+ width: calc((100% - 2 * 2rem) /1 );
}
}
.about-secondary {
- font-size: 4.5rem;
+ font-size: 1.5rem;
}
.about-pricing {
- font-size: 3.5rem;
+ font-size: 2rem;
+ padding: 3rem;
}
.workhours {
- font-size: 2rem;
+ font-size: 1.5rem;
}
.location {
- font-size: 3rem;
+ font-size: 2rem;
}
.landing-text {
- font-size: 4.1rem;
+ font-size: 3.1rem;
+ padding: 4rem;
}
.section-about {
- padding-bottom: 45rem;
- padding-top: 20rem;
+ padding-bottom: 20rem;
+ padding-top: 15rem;
}
Element
.composition__photo {
+ height: 40rem;
}*/
