/* Color Variables */

$text-color: #faeeeeea;
$primary-color: #dfcdd79b;

$second-color: rgb(19, 14, 14);
$button-color: #777575ea;

$nav-hamburger-x-color: rgb(37, 34, 34);
$header-menu-border-color: #f1eded;
$header-menu-backgroud-color: rgb(182, 178, 180);
$menu-active-color: rgb(209, 56, 56);

$icon-starting-color: rgba(250, 250, 250, 0.479);
$icon-background-color: rgba(29, 28, 28, 0.746);
$icon-white: #f0eeee;

$instagram-color: #e4405f;
$envolope-color: #c72626;
$facebook-color: #3b5999;

$animation-flow: fadeIn 5s ease-in-out;

// measurement and width variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 8rem;
