/* Defalut Settings For Page and Body */

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Root font size that defines what one rem is */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
