/* styling for company container, the company name and  and company slogan */

.lg-heading {
  text-transform: uppercase;
  color: $text-color;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 7rem;
    font-weight: 450;
    letter-spacing: 5px;
    animation: $animation-flow;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 250;
    letter-spacing: 0.5rem;
    animation: $animation-flow;
  }
}

/* Body fonts */

body {
  background-image: url(/resources/img/background.png);
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  padding: 0.8rem;
}
