/* Default styling for header section, including logo and hamburger menu*/
.header-index {
  height: 12rem;
  right: 0;
  left: 0;

  background-image: linear-gradient(
      to right bottom,
      rgba(117, 115, 117, 0.84),
      rgba(7, 7, 7, 0.911)
    ),
    url(/resources/img/hero1.jpg);
  background-size: cover;
  background-position: top;
  position: fixed;
  margin: 0 1rem;
  z-index: 22;
  // clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  &__logo-box {
    position: absolute;
    left: 6.4rem;
    top: 2.4rem;
    animation: $animation-flow;
  }

  &__logo {
    height: 8.5rem;
    cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
  }

  &__info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
