/* Orginal State of Top Hamburger Menu Buttons Before Being Clicked */

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 10rem;
  top: 3.5rem;
  cursor: url(/resources/img/icons8-barber-scissors-40.png), auto;
  transition: 0.5s ease-in-out;
  animation: $animation-flow;
}
.btn-line {
  width: 2.8rem;
  height: 0.3rem;
  margin: 0 0 0.5rem 0;
  background: $text-color;
}

/* Hamburger Button Transformation into an "X" */
.menu-btn.close {
  transform: rotate(180deg);
}

.btn-line.close:first-child {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
  background: $nav-hamburger-x-color;
}
.btn-line.close:nth-child(2) {
  opacity: 0;
}
.btn-line.close:nth-child(3) {
  transform: rotate(-45deg) translate(0.7rem, -6px);
  background: $nav-hamburger-x-color;
}
